body,
html {
  padding: 50px;
  margin: 0px;
  font-size: 100%;
  background-color: hsl(216, 12%, 8%);
  font-family: "Outfit", sans-serif;
}
.new {
  color: orange;
  padding: 3px
  border-radius: 50%;
}

.course {
  padding: 10px;
  width: 300px;
  display: block;
  border-radius: 20px;
  align-content: center;
  border: 5px solid transparent;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(170, 125, 125, 0.4);
  background-color: hsl(208, 21%, 12%);
  margin: 100px 100px 100px 100px;
  margin: auto;
}
.glass {
  text-align: center;
}
.glass span {
  border-radius: 50%;
  margin: 5px;
  /* padding: 10px; */
  border: 2px solid grey;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 54%);
  width: 20px;
  height: 20px;
}
a {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  background-color: orange;
  color: white;
  display: block;
  margin: 10px;
  font-size: small;
}
.solidtext {
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
}

h3 {
  color: hsl(0, 0%, 100%);
}

